<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Website</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">


	<!-- font awesome website cdn for icons import -->
	<script src="https://kit.fontawesome.com/51d768ed59.js" crossorigin="anonymous"></script>
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="icon" href="/img/image.png">
</head>

<body>
    <%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>

	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						About Us
					</h1>
					<p class="text-white link-nav"><a href="index.html">Home </a> <span
							class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start feature Area -->
	<section class="feature-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>What is Homoeopathy?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								Homeopathy is a system of medicine that uses highly diluted substances to treat a wide
								range of conditions. It is based on the principle of "like cures like," meaning that a
								substance that produces symptoms of a disease in a healthy person can be used to cure
								those symptoms in a sick person.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>Why Choose Homoeopathy?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								It is a natural and holistic approach to medicine. Homeopathy uses natural substances
								that are diluted to the point where they are no longer detectable by conventional
								scientific methods. There is no risk of side effects from homeopathy, as the substances
								are so dilute.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>Why choose our College?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								Our Vision involves a commitment to excellence in education, research, and patient care
								within the field of homeopathy. Such a vision should strive to elevate the standards of
								homeopathic education, promote evidence-based practices.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End feature Area -->

	<!-- Start info Area -->
	<section class="info-area pb-120">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 no-padding info-area-left">
					<img class="img-fluid img-thumbnail p-2 border border-dark" src="img/about-img.jpg" alt="">
				</div>
				<div class="col-lg-6 info-area-right">
					<h1>Who we are
						to Serve the nation</h1>
					<p>Homeopathy was introduced in India the early 19th century. It flourished in Bengal at first, and
						then spread all over India. In the beginning, the system was extensively practised by amateurs
						in the civil and military services and others. Mahendra Lal Sircar was the first Indian who
						became a homeopathic physician.</p>
					<br>
					<p>
						Limbdi Homoeopathic Medical College & Hospital, situated at Limbdi, Surendranagar is a
						Homoeopathic Medical College affiliated under Saurashtra University which frontiers in the field
						of medical knowledge providing the best possible education, clinical exposure and accommodation
						to the new generation of doctors within the country aiming to set the new sunrise of holistic
						medicine in the world of modern medicine.

					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End info Area -->

	<!-- Start course-mission Area -->
	<section class="course-mission-area pb-120">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Harmony to Health Through Nature's Best Wealth - Homoeopathy</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 accordion-left">

					<!-- accordion 2 start-->
					<dl class="accordion">
						<dt>
							<a href="">Campus Facilities</a>
						</dt>
						<dd>
							We Have Campus Lawn, Hi-Tech Classrooms, Library with 3000+ Books, College Auditorium, 24 Hours CCTV Surveillance, Seminar Rooms, Canteen, Basic Health Care Unit & Many other things
						</dd>
						<dt>
							<a href="">Healthy Education</a>
						</dt>
						<dd>
							Our Tutors are well trained in the field of homoeopathy as well as in the field of teaching and always trying to provide the best education to our students on the core Principles of Homoeopathy ensuring a Healthy Education.
						</dd>
						<dt>
							<a href="">Positive Competition</a>
						</dt>
						<dd>
							We ensure that our students don't get off the track with their studies so we regularly conduct competitions and exams while always recognizing their efforts building a positive competitions for their internal growth of all students.
						</dd>
						<dt>
							<a href="">Smart Education for Smart Generation</a>
						</dt>
						<dd>
							We know that the method of using black board and chalk has now been very less frequently used and to not make studies hectic for our students we teach them through smart education facilities like PPTs, Smart Art, Animations, Interactive Sessions etc.
						</dd>
					</dl>
					<!-- accordion 2 end-->
				</div>
				<div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
					<div class="overlay overlay-bg"></div>
					<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img
							class="img-fluid mx-auto" src="img/play.png" alt=""></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End course-mission Area -->


	<!-- Start search-course Area -->
	<section class="search-course-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6 col-md-6 search-course-left">
					<h1 class="text-white">
						Get more details of courses? <br>
						Know more about our teaching techniques
					</h1>
					<p>
						In Limbdi Homeopathic college we offer better educations to the students with the help of modern
						technology and experienced faculties, The future generation of homeopathic doctors under lhmc is
						better and way more astonishing. Trust us in our teaching criteria and make a better homeopathic
						doctor.
					</p>
					<div class="row details-content">
						<div class="col single-detials">
							<span class="lnr lnr-graduation-hat"></span>
							<a href="#">
								<h4>Expert Instructors</h4>
							</a>
							<p>
								Our faculties are highly experienced in their respective fields and have a proven track
								record of success in the field.
							</p>
						</div>
						<div class="col single-detials">
							<span class="lnr lnr-license"></span>
							<a href="#">
								<h4>Certification</h4>
							</a>
							<p>
								All instructor are certified and experienced in their respective fields. Better
								Education is Guranteed and is the aim of our faculties.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 search-course-right section-gap">
					<form class="form-wrap" action="#">
						<h4 class="text-white pb-20 text-center mb-30">Any Doubts? Feel Free to Ask</h4>
						<input type="text" class="form-control" name="name" placeholder="Your Name"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
						<input type="phone" class="form-control" name="phone" placeholder="Your Phone Number"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
						<input type="email" class="form-control" name="email" placeholder="Your Email Address"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
						<button class="primary-btn text-uppercase">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End search-course Area -->

	<!-- Start review Area -->
	<section class="review-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row">
				<div class="active-review-carusel">
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<img src="img/r1.png" alt="">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End review Area -->

	<!-- Start cta-two Area -->
	<!-- <section class="cta-two-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 cta-left">
					<h1>Not Yet Satisfied with our Trend?</h1>
				</div>
				<div class="col-lg-4 cta-right">
					<a class="primary-btn wh" href="#">view our blog</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End cta-two Area -->

	<!-- start footer Area -->
	<%- include ('./UserPortal/vendar/FotterofLending.ejs') %>

	<!-- End footer Area -->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>