<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Website</title>

    <!-- font awesome website cdn for icons import -->
    <script src="https://kit.fontawesome.com/51d768ed59.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/img/image.png"> target="_blank"
</head>

<body>
    <%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>

        <main id="main">
            <section id="hospital" class="hospital">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-12 text-center header_12">
                            <h2>Hospital</h2>
                        </div>
                        <div class="col-lg-12 d-flex flex-column justify-content-center about-content">
                            <p> About Hospital OPD-IPD details. </p>
                        </div>
                        <h2> OPD </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OPD &amp; IPD -2021</td>
                                    <td>2021</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1663053171.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Universiyt Examination Result Report</td>
                                    <td>2022</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1668770609.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Admitted Student List</td>
                                    <td>All</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692976762.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Universiyt Examination Result Report1</td>
                                    <td>2022</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1668771465.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Non Teaching Staff</td>
                                    <td>College</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1669546905.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Teaching Staff List</td>
                                    <td>Teaching</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1669700852.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Hospital Staff List</td>
                                    <td>Staff</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1669547027.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>University Affiliation</td>
                                    <td>Letter</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692976443.jpg"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>University Information</td>
                                    <td>Letter</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1669548220.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Non Teaching</td>
                                    <td>Staff List</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692977437.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Hospital</td>
                                    <td>Staff List</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692977470.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Teaching</td>
                                    <td>Staff List</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692977322.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>https://saurashtrauniversity.edu/</td>
                                    <td>University Link</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1692977083.jpg"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h2> IPD </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IPD-2021</td>
                                    <td>2021</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1662651434.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Advertisement</td>
                                    <td>P G Staff</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1688730365.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                                <tr>
                                    <td>IPD OPD</td>
                                    <td>Data</td>
                                    <td><a target="_new"
                                            href="http://lhmc.org.in/uploads/opd-ipd/OPDIPD_1690527983.pdf"> <i
                                                class="bi bi-filetype-pdf"></i><i class="icofont-file-pdf"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>

        <!-- start footer Area -->
        <%- include ('./UserPortal/vendar/FotterofLending.ejs') %>

            <!-- End footer Area -->


            <script src="js/vendor/jquery-2.2.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
            <script src="js/easing.min.js"></script>
            <script src="js/hoverIntent.js"></script>
            <script src="js/superfish.min.js"></script>
            <script src="js/jquery.ajaxchimp.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/jquery.tabs.min.js"></script>
            <script src="js/jquery.nice-select.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/mail-script.js"></script>
            <script src="js/main.js"></script>
</body>

</html>