<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Website</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

	<!-- font awesome website cdn for icons import -->
	<script src="https://kit.fontawesome.com/51d768ed59.js" crossorigin="anonymous"></script>
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="icon" href="/img/image.png">

</head>
<%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>

<body>
	<%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="banner-content col-lg-9 col-md-12">
					<h1 class="text-uppercase">
						We Ensure better education
						for a better world
					</h1>
					<p class="pt-10 pb-10">
						Limbdi Homeopathic College ensures better education of best homeopathic doctors of future. We are priveleged to have best faculties with best experience and best knowledge. Limdi Homeopathic Medical College and Hospital is here to serve for the better future of the country.
					</p>
					<a href="about.html" class="primary-btn text-uppercase">Get Started</a>
					<a href="/LogIn" class="primary-btn text-uppercase">Log In</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start feature Area -->
	<section class="feature-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>What is Homoeopathy?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								Homeopathy is a system of medicine that uses highly diluted substances to treat a wide range of conditions. It is based on the principle of "like cures like," meaning that a substance that produces symptoms of a disease in a healthy person can be used to cure those symptoms in a sick person.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>Why Choose Homoeopathy?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								It is a natural and holistic approach to medicine. Homeopathy uses natural substances that are diluted to the point where they are no longer detectable by conventional scientific methods. There is no risk of side effects from homeopathy, as the substances are so dilute.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature">
						<div class="title">
							<h4>Why choose our College?</h4>
						</div>
						<div class="desc-wrap">
							<p>
								Our Vision involves a commitment to excellence in education, research, and patient care within the field of homeopathy. Such a vision should strive to elevate the standards of homeopathic education, promote evidence-based practices.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- End feature Area -->

	<!-- about colleg section -->

	<section id="about-college">
		<div class="container">
			<div class="main-info">
				<div class="left-text-info">
					<div class="title-info-name">
						<h1> "Limbdi Homoeopathic Medical College & Hospital (LHMC)"</h1>
						<h3>(ISO 9001:2008 Certified College)</h3>
					</div>

					<div class="name-desc">
						Limbdi Homoeopathic Medical College & Hospital, situated at Limbdi, Surendranagar is a
						Homoeopathic Medical College affiliated under Saurashtra University which frontiers in the field
						of medical knowledge providing the best possible education, clinical exposure and accommodation
						to the new generation of doctors within the country aiming to set the new sunrise of holistic
						medicine in the world of modern medicine.
					</div>
				</div>
				<div class="right-vid-info">
					<video src="/vid/college-vid.mp4" autoplay loop muted></video>

				</div>
			</div>
		</div>
	</section>


	<!-- Start popular-course Area -->
	<section class="popular-course-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Popular Courses we offer</h1>
						<p>There is a moment in the life of any aspiring.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-popular-carusel">
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p1.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Microbiology
								</h4>
							</a>
							<p>
								Microbiology is the study of microscopic organisms, including bacteria, viruses, fungi, and protozoans.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p2.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Physiology
								</h4>
							</a>
							<p>
								The department of Physiology has a long tradition of excellence in teaching at the homoeopathic basis.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p3.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Biochemistry
								</h4>
							</a>
							<p>
								Biochemistry explores chemical processes within living things, including metabolism and DNA replication.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p4.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Anatomy
								</h4>
							</a>
							<p>
								Anatomy is the scientific study of the structure of organisms, including their systems, organs, and tissues.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p1.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Microbiology
								</h4>
							</a>
							<p>
								Microbiology is the study of microscopic organisms, including bacteria, viruses, fungi, and protozoans.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p2.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Biochemistry
								</h4>
							</a>
							<p>
								Biochemistry explores chemical processes within living things, including metabolism and DNA replication.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p3.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Microbiology
								</h4>
							</a>
							<p>
								Microbiology is the study of microscopic organisms, including bacteria, viruses, fungi, and protozoans.
							</p>
						</div>
					</div>
					<div class="single-popular-carusel">
						<div class="thumb-wrap relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/p4.jpg" alt="">
							</div>
							<div class="meta d-flex justify-content-between">
								<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
								<!-- <h4>$150</h4> -->
							</div>
						</div>
						<div class="details">
							<a href="#">
								<h4>
									Physiology
								</h4>
							</a>
							<p>
								The department of Physiology has a long tradition of excellence in teaching at the homoeopathic basis.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End popular-course Area -->


	<!-- Start search-course Area -->
	<section class="search-course-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6 col-md-6 search-course-left">
					<h1 class="text-white">
						Get more details of courses? <br>
						Know more about our teaching techniques
					</h1>
					<p>
						In Limbdi Homeopathic college we offer better educations to the students with the help of modern technology and experienced faculties, The future generation of homeopathic doctors under lhmc is better and way more astonishing. Trust us in our teaching criteria and make a better homeopathic doctor.
					</p>
					<div class="row details-content">
						<div class="col single-detials">
							<span class="lnr lnr-graduation-hat"></span>
							<a href="#">
								<h4>Expert Instructors</h4>
							</a>
							<p>
								Our faculties are highly experienced in their respective fields and have a proven track record of success in the field.
							</p>
						</div>
						<div class="col single-detials">
							<span class="lnr lnr-license"></span>
							<a href="#">
								<h4>Certification</h4>
							</a>
							<p>
								All instructor are certified and experienced in their respective fields. Better Education is Guranteed and is the aim of our faculties.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 search-course-right section-gap">
					<form class="form-wrap" action="#">
						<h4 class="text-white pb-20 text-center mb-30">Any Doubts? Feel Free to Ask</h4>
						<input type="text" class="form-control" name="name" placeholder="Your Name"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
						<input type="phone" class="form-control" name="phone" placeholder="Your Phone Number"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
						<input type="email" class="form-control" name="email" placeholder="Your Email Address"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
						<button class="primary-btn text-uppercase">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End search-course Area -->


	<!-- Start upcoming-event Area -->
	<section class="upcoming-event-area section-gap event-page-lists">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Upcoming Events of our Institute</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, .</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-upcoming-event-carusel">
					<div class="single-carusel  row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e1.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
					<div class="single-carusel row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e2.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
					<div class="single-carusel row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e1.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
					<div class="single-carusel row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e1.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
					<div class="single-carusel row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e2.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
					<div class="single-carusel row align-items-center">
						<div class="col-12 col-md-6 thumb">
							<img class="img-fluid" src="img/e1.jpg" alt="">
						</div>
						<div class="detials col-12 col-md-6">
							<p>25th February, 2018</p>
							<a href="#">
								<h4>The Universe Through
									A Child S Eyes</h4>
							</a>
							<p>
								For most of us, the idea of astronomy is something we directly connect to “stargazing”,
								telescopes and seeing magnificent displays in the heavens.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End upcoming-event Area -->

	<!-- Start review Area -->
	<section class="review-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row">
				<div class="active-review-carusel">
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<img src="img/r1.png" alt="">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Fannie Rowe</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
					<div class="single-review item">
						<div class="title justify-content-start d-flex">
							<a href="#">
								<h4>Hulda Sutton</h4>
							</a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p>
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer,
							scanner, speaker. Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End review Area -->

	<!-- Start cta-one Area -->
	<section class="cta-one-area relative section-gap">
		<div class="cont">
			<div class="banner">
				<div class="text-section">
					<h1>You Also Can Be</h1>
					<h2>The Best Homoeopathic</h2>
					<h2>Student Across India</h2>
					<h2>Judicious and Rational Healer</h2>
				</div>
				<div class="image-section">
					<!-- Repeat this block for each alumnus -->
					<div class="alumni facebook">
						<div class="company-logo"></div>
						<img src="img/b1.jpg" alt="Alumni Face">
						<div class="name">Alumni Name</div>
						<div class="title">Data Engineer</div>
					</div>
					<div class="alumni facebook">
						<div class="company-logo"></div>
						<img src="img/b1.jpg" alt="Alumni Face">
						<div class="name">Alumni Name</div>
						<div class="title">Data Engineer</div>
					</div>
					<div class="alumni facebook">
						<div class="company-logo"></div>
						<img src="img/b1.jpg" alt="Alumni Face">
						<div class="name">Alumni Name</div>
						<div class="title">Data Engineer</div>
					</div>
					<div class="alumni facebook">
						<div class="company-logo"></div>
						<img src="img/b1.jpg" alt="Alumni Face">
						<div class="name">Alumni Name</div>
						<div class="title">Data Engineer</div>
					</div>
					
					<!-- ... other alumni blocks ... -->
				</div>
			</div>
		</div>
	</section>
	<!-- End cta-one Area -->

	<!-- Our Department Section -->
	<section class="department-area section-gap2" id="department">

		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Our Departments</h1>
						<p>Departments and Courses at Limbdi Homoeopathic Medical College and Hospital.</p>
					</div>
				</div>
			</div>

			<!-- row card-section -->

			<div class="row row-cols-1 row-cols-md-2 g-4 department-row-area mb-4">
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF HUMAN ANATOMY</h5>
							<p class="card-text">We have adopted purely approach that imparting basic Anatomical knowledge to every field of Medical students & simultaneously providing them its applied aspects.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF PHYSIOLOGY & BIO-CHEMISTRY</h5>
							<p class="card-text">The Department of Physiology & Biochemistry focuses on understanding biological functions and chemical processes in living organisms.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF HOMOEOPATHIC PHARMACY</h5>
							<p class="card-text">The Department of Homoeopathic Pharmacy specializes in the preparation and dispensing of homeopathic medicines, Allowing graduates for better treatments.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-cols-1 row-cols-md-2 g-4 department-row-area">
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF CASE TAKING & REPERTORY</h5>
							<p class="card-text">The Case Taking & Repertory department collects patient symptoms and picks the right homeopathic treatment. It focuses on collecting precise remedy and selecion of individual treatments.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF FORENSIC MEDICINE & TOXICOLOGY</h5>
							<p class="card-text">The Department of Forensic Medicine & Toxicology applies scientific methods to criminal and civil law cases in courts, analyzing and providing evidence such as DNA, fingerprints, and toxicology.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="/img/forensic-medicine-and-toxicology-min.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">DEPARTMENT OF OBSTETRICS & GYNAECOLOGY</h5>
							<p class="card-text">Obstetrics and Gynecology is an allied subject included in the syllabus of B.H.M.S. The subject consists of following parts: OBSTRETICS, GYNECOLOGY, NEONATOLOGY, HOMOEOPATHIC.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="department-viewmore-btn text-center mt-2">
				<a href="courses.html" class="primary-btn text-uppercase mt-4 ">View more</a>
			</div>

		</div>


		<!-- top rankers section -->

		<section id="rankers" class="section-gap parallax mt-5">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10" style="color: #fff;">Top Ranked Students</h1>
							<p style="color: #fff;">Departments and Courses at B.G. Garaiya Homoeopathic College.</p>
						</div>
					</div>
				</div>


				<div class="row row-cols-1 row-cols-md-2 g-4 mb-4 row-ranked">
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students <br>
								</h4>
								<p>Batch - 2017/18</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students <br>
								</h4>
								<p>Batch - 2018/19</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students<br>
								</h4>
								<p>Batch - 2019/20</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-md-2 g-4">
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students <br>
								</h4>
								<p>Batch - 2020/21</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students <br>
								</h4>
								<p>Batch - 2021/22</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 ranked-item">
						<div class="testimonial-item mt_30 text-center ">
							<div class="testimonial-photo">
								<img src="/img/topper.png" class="my-5" alt="">
							</div>
							<div class="testimonial-name">
								<h4 class="mb-2">Scholar Students <br>
								</h4>
								<p>Batch - 2022/23</p>
							</div>

							<div class="line-ranked line-separator">

							</div>

							<div class="testimonial-description ">
								<p class="p-4">
									LHMC - Limbdi
								</p>
							</div>
						</div>
					</div>
				</div>


			</div>
		</section>



	</section>

	<!-- Start blog Area -->
	<section class="blog-area section-gap" id="blog">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Latest posts from our Blog</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b1.jpg" alt="">
					</div>
					<p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
					<a href="blog-single.html">
						<h5>Addiction When Gambling Becomes A Problem</h5>
					</a>
					<p>
						Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend
						hours in front of their.
					</p>
					<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
							class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
				<div class="col-lg-3 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b2.jpg" alt="">
					</div>
					<p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
					<a href="blog-single.html">
						<h5>Computer Hardware Desktops And Notebooks</h5>
					</a>
					<p>
						Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but it causes
						anxiety for several different reasons.
					</p>
					<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
							class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
				<div class="col-lg-3 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b3.jpg" alt="">
					</div>
					<p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
					<a href="blog-single.html">
						<h5>Make Myspace Your Best Designed Space</h5>
					</a>
					<p>
						Plantronics with its GN Netcom wireless headset creates the next generation of wireless headset
						and other products such as wireless.
					</p>
					<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
							class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
				<div class="col-lg-3 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b4.jpg" alt="">
					</div>
					<p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
					<a href="blog-single.html">
						<h5>Video Games Playing With Imagination</h5>
					</a>
					<p>
						About 64% of all on-line teens say that do things online that they wouldn’t want their parents
						to know about. 11% of all adult internet
					</p>
					<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span
							class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End blog Area -->


	<!-- Start cta-two Area -->
	<!-- <section class="cta-two-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 cta-left">
					<h1>Not Yet Satisfied with our Trend?</h1>
				</div>
				<div class="col-lg-4 cta-right">
					<a class="primary-btn wh" href="#">view our blog</a>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End cta-two Area -->

	<!-- start footer Area -->
	<%- include ('./UserPortal/vendar/FotterofLending.ejs') %>
	<!-- End footer Area -->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>