<!DOCTYPE html>
<html>
<head>
<style>
html, body {
  height: 100%;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
</head>
<body>

<img src="./img/uc.png" alt="Full Page Image">

</body>
</html>
