<footer class="fixed-bottom bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="text-center">
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://laxit-portfolio.onrender.com/" target="_blank"
        class="pe-1 text-primary">Laxit khanpara &amp; Aagam Shah & Rayq</a> Distributed by <a
        href="https://themewagon.com">ThemeWagon</a>

    </div>
  </div>
  <!-- Copyright -->
</footer>