<div class="py-6 px-6 text-center">
  <p class="footer-text m-0 col-lg-6 col-md-12">

    Copyright &copy;
    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o"
      aria-hidden="true"></i> by <a href="" target="_blank">Laxit Khanpara & Aagam</a> &amp;
    distributed by <a href="" target="_blank">Rayq</a>

  </p>
  <p class="mb-0 fs-4">Design and Developed by <a href="https://laxit-portfolio.onrender.com/" target="_blank"
      class="pe-1 text-primary text-decoration-underline">Laxit khanpara</a> Distributed by <a
      href="https://themewagon.com">ThemeWagon</a></p>
</div>