<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Libraries</h4>
                    <ul>
                        <li><a target="_self" href="#">Homoeopathic Books</a></li>
                        <li><a target="_self" href="#">Allied Books</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Quick links</h4>
                    <ul>
                        <li><a target="_self" href="https://ayush.gov.in/">Ayush Ministry</a></li>
                        <li><a target="_self" href="https://nch.org.in/">National Council of Homoeopathy</a></li>
                        <li><a target="_self" href="http://nrh.nch.org.in/cch/">Central Council of Homoeopathy</a></li>
                        <li><a target="_self" href="https://cvc.gov.in/">Vigilance Complaint Information Management System</a></li>
                        <li><a target="_self" href="https://www.saurashtrauniversity.edu/">Saurashtra University</a></li>
                        <li><a target="_self" href="/getEssentials">Essentials Of College</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a target="_self" href="/nurse">Hostel Facility</a></li>
                        <li><a target="_self" href="/nurse">Canteen Facility</a></li>
                        <li><a target="_self" href="/nurse">Garden & Landscape</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Need Help?</h4>
                    <p>Ask your Doubts</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '"
                                    required="" type="email">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="info"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="footer-bottom row align-items-center justify-content-between">
            <p class="footer-text m-0 col-lg-6 col-md-12">

                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                    class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Laxit Khanpara &
                    Aagam</a> &amp;
                distributed by <a href="" target="_blank">Rayq</a>
                <li>

            </p>
            <div class="col-lg-6 d-flex col-sm-12 footer-social">
                <a href="#"><i class="fa-brands fa-facebook m-2"></i></a>
                <a href="#"><i class="fa-brands fa-twitter m-2"></i></a>
                <a href="#"><i class="fa-brands fa-instagram m-2"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest m-2"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->