<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                    <ul>
                        <li><a target="_self" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a target="_self" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a target="_self" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a target="_self" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                    <a href="#"><span class="lnr lnr-phone-handset"></span> <span
                            class="text"><i class="fa-solid fa-phone mx-1"></i> +91 98988 47080</span></a>
                    <a href="mailto:#"><span class="lnr lnr-envelope"></span> <span
                            class="text"><i class="fa-solid fa-envelope mx-1"></i> limbdihmc@gmail.com</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="/img/image.png" alt="" title="" width="115"
                    style="border-radius: 50%; background: #fff;" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a target="_self" href="/limbdi" target="_blank">Home</a></li>
                    <li><a target="_self" href="/about" target="_blank">About</a></li>
                    <li><a target="_self" href="/courses" target="_blank">Courses</a></li>
                    <li><a target="_self" href="/event" target="_blank">Events</a></li>
                    <li><a target="_self" href="/gallery" target="_blank">Gallery</a></li>
                    <li><a target="_self" href="/Blog" target="_blank">Blog Single</a></li>
                    
                    <li class="menu-has-children"><a href="">Faculties</a>
                        <ul>
                            <li class="menu-has-children"><a href="">Courses</a>
                                <ul>
                                    <li><a target="_self" href="/nurse">Limbdi Nursing College</a></li>
                                    <li><a target="_self" href="/Ayur">Limbdi Ayurvedic College</a></li>
                                </ul>
                            </li>
                            <li><a target="_self" href="/hospital">Hospital Staff</a></li>
                            <li><a target="_self" href="/nontech">Non-Teaching Staff</a></li>
                            <li><a target="_self" href="/nontech">Teaching Staff</a></li>
                            
                        </ul>
                    </li>
                    <li><a target="_self" href="/Contact" target="_blank">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->